@import '../global.scss';

.withdrawLiqui-pc {
    /* display: none; */
    /*隐藏  取出流动性*/
    background-color: #ffffff;
    height: auto;
    width: 100%;
    position: relative;
    // z-index: 6000;
    background-size: 100% 100%;
}

.withdrawLiqui-pc .main {
    width: 100%;
    // height: 356px;
    border-radius: 12px;
    border: 1px solid #f0f1f1;
    padding: 5px 0;
}

.withdrawLiqui-pc .main .LiquidityRatio {
    // width: 90%;
    height: 52px;
    margin: 0 .8em;
    border: 1px solid #f0f1f1;
    margin-bottom: 10px;
    background: linear-gradient(270deg, #FFFFFF -25%, #267FFA 100%);
    border-radius: 14px 14px 0px 0px
}

.withdrawLiqui-pc .main .LiquidityRatio p {
    // width: 41%;
    float: left;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 52px;
    padding-left: 13px;
    margin: 0;
    .val_span{      
        font-size: 18px;
        font-family: "DINAlternate-Bold, DINAlternate";
        font-weight: bold;
        color: #FFFFFF;
        margin-right: 10px;
    }
    .coin_span{
        font-family: "PingFangSC-Medium, PingFang SC";
        font-size: 12px;    
        font-weight: 500;
        color: #FFFFFF;
    }
}

.withdrawLiqui-pc .main .LiquidityRatio .enterDiv {
    float: right;
    width: 35%;
    margin-right: 20px;
    margin-top: 5px;
}

.withdrawLiqui-pc .main .LiquidityRatio .enterDiv .inputDiv {
    width: 101%;
    display: block;
    margin-bottom: 12px;
    padding: 0px 7px;
    height: 39px;
    margin: 0 auto;
    border: 1px solid #f0f1f1;
    border-radius: 18px;    
    background: #FFFFFF;
    padding-left: 15px;
}


.withdrawLiqui-pc .main .LiquidityRatio .enterDiv .inputDiv input {
    width: 80%;
    height: 36px;
    float: left;
    border-radius: 20px;
}

.withdrawLiqui-pc .main .LiquidityRatio .enterDiv .inputDiv span {
    float: right;
    line-height: 39px; 
    font-family: "PingFangSC-Medium, PingFang SC";
    font-weight: 500;
    color: #141415;
}

.withdrawLiqui-pc .main div .el-checkbox-group {
    width: 100%;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv {
    border-radius: 16px;
    margin-bottom: 10px;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .firstPart {
    width: 90%;
    height: 45px;
    margin: 0px auto;
    line-height: 45px;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .firstPart div:nth-child(1) {
    float: left;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .firstPart div:nth-child(1) img {
    width: 30px;
    margin-top: -9px;
    margin-right: 8px;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .firstPart div:nth-child(1) span {
    font-size: 16px;
    font-family: "PingFangSC-Medium, PingFang SC";
    font-weight: 500;
    color: #000000;
    display: inline-block;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .firstPart div:nth-child(2) {
    float: right;
    padding-top: 11px;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .firstPart div:nth-child(2) input {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid #f0f1f1;
    position: relative;
    top: -2px;
}
.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .firstPart div:nth-child(2) label
{
    // width: 13em;
    font-size: .8em;
    height: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: .1em;
    margin-bottom: 0px;
    color: #B2B9C2;
    margin-right: 0.8em;
}

.withdrawLiqui-pc .main div .el-checkbox-group .coinDiv .second input {
    width: 91%;
    display: block;
    margin-bottom: 12px;
    background: #FAFAFA;
    padding: 0px 13px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #f0f1f1;
    border-radius: 10px;
}

.withdrawLiqui-pc .averageDiv {
    width: 100%;
}

.withdrawLiqui-pc .averageDiv .leftDiv {
    float: right;
    // width: 140px;   
    height: 28px;
    margin:11px 20px;
    // background: linear-gradient(90deg, #2480FF 0%, #2480FF 73%, #2480FF 100%);
    border-radius: 15px;
    padding: 0 10px;
}

.withdrawLiqui-pc .averageDiv .leftDiv .radioInput {
    width: 22px;
    height: 22px;
    margin: 0px;
    background-color: #ffffff;
}

.withdrawLiqui-pc .averageDiv .leftDiv span {   
    font-family:" PingFangSC-Regular, PingFang SC";
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    padding: 0 10px;
}

.withdrawLiqui-pc .butDiv {
    margin-top: 10px;
    width: 100%;
}

.withdrawLiqui-pc .butDiv div {
    height: 50px;
    line-height: 50px;
}

.withdrawLiqui-pc .butDiv div span {
    font-size: 10px;
    float: right;
}

.withdrawLiqui-pc .butDiv div img {
    width: 5%;
    float: right;
    display: block;
    margin: 18px 5px;
}

.withdrawLiqui-pc .butDiv button {
    width: 90%;
    margin: 0px auto;
    height: 50px;
    // background: #2480FF;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    display: block;
}

.withdrawLiqui-pc .main{
    .depositDiv,.withdrawdiv,.rewardDiv {
        width: 90%;
        margin: 0px auto;
        overflow: hidden;
        margin-bottom: 10px;
        // background: #2480FF;
        // border-radius: 16px;
        // color: #fff;
        // font-size: 16px;
        // display: block;
        .textDiv{
            margin: 12px 0 5px;
            overflow: hidden;
            font-size: 14px;
            .text_span{
                float: left;               
                font-family: "PingFangSC-Medium, PingFang SC";
                font-weight: 500;
                color: #000000;
            }
            .val_span{
                float: right;
                font-family: "DINAlternate-Bold, DINAlternate";
                font-weight: bold;
                color: #000000;
            }
        }
        .inputDiv{
           div{
            width: 54%;
            height: 42px;
            position: relative;
            float: left;
                input{
                    width: 100%;
                    float: left;
                    height: 42px;
                    background: #FAFAFA;
                    border-radius: 10px;
                    border: 1px solid #f0f1f1;
                    padding-left: 12px;
                }
                .allBtn{
                    width: 1px;
                    height: 30px;               
                    font-weight: 500;
                    color: #2480FF;
                    line-height: 30px;
                    position: absolute;
                    top: 6px;
                    right: 0px;
                    width: 50px;
                    text-align: center;
                    display: inline-block;
                    border-left:solid 1px #f0f1f1;
                    cursor: pointer;
                }
                .percentage{                
                    font-family: "PingFangSC-Medium, PingFang SC";
                    font-weight: 500;
                    color: #141415;
                    width: 1px;
                    height: 30px;               
                    line-height: 30px;
                    position: absolute;
                    top: 6px;
                    right: 0px;
                    width: 50px;
                    text-align: center;
                    display: inline-block;

                    cursor: pointer;
                }
           }
            button{ 
                float: right;
                width: 39%;  
                height: 42px;      
                border-radius: 10px;
                border: 1px solid #2480FF;
                font-weight: 500;
                color: #2480FF;
                line-height: 42px;
                background: #ffffff;
                font-size: 13px;
                padding: 0;
            }
        }  
    }
    .withdrawdiv {
        .inputDiv{
           div{
               width: 54%;
               height: 42px;
               position: relative;
               float: left;
               input{
                   width: 100%;
               }
                .allBtn{
                    width: 1px;
                    height: 30px;               
                    font-weight: 500;
                    color: #2480FF;
                    line-height: 30px;
                    position: absolute;
                    top: 6px;
                    right: 0px;
                    width: 50px;
                    text-align: center;
                    display: inline-block;
                    border-left:solid 1px #f0f1f1;
                    cursor: pointer;
                }
                .percentage{                
                    font-family: "PingFangSC-Medium, PingFang SC";
                    font-weight: 500;
                    color: #141415;
                    width: 1px;
                    height: 30px;               
                    line-height: 30px;
                    position: absolute;
                    top: 6px;
                    right: 0px;
                    width: 50px;
                    text-align: center;
                    display: inline-block;

                    cursor: pointer;
                }
           }
        }
    }
    .rewardDiv{
        margin-top: 22px;
        margin-bottom: 0px;
        padding: 15px 0px;
        border-top: solid 1px #f0f1f1;
        .textDiv{
            float: left;
            width: 50%;
            .val_span{                
                font-weight: bold;
                color: #000000;
                line-height: 28px;
                font-size: 14px;
                float: left;
            }
            .text_span{  
                margin-left: 10px;           
                font-weight: 500;
                color: #000000;
                line-height: 28px;
                font-size: 12px;
                float: left;
            }

        }
        .btnDiv{
            width: 44%;
            float: right;
            button{
                height: 42px;
                width: 100%;
                border-radius: 10px;
            }
        }
    }
} 
